.find-doctors-container {
  padding: 2rem;
  text-align: center;
  background: #f9f9f9;
}

.find-doctors-container h1 {
  color: #2e86de;
  margin-bottom: 0.5rem;
}

.find-doctors-container p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #555;
}

.doctor-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.doctor-card {
  background: white;
  width: 250px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: center;
  transition: 0.3s ease;
}

.doctor-card:hover {
  transform: scale(1.05);
}

.doctor-card img {
  width: 80px;
  margin-bottom: 1rem;
}

.doctor-card h3 {
  color: #2e86de;
  margin-bottom: 0.5rem;
}

.doctor-card p {
  margin: 0.3rem 0;
}

.doctor-card button {
  margin-top: 1rem;
  background: #2e86de;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.doctor-card button:hover {
  background: #1b4f91;
}
.no-doctors {
  color: #888;
  font-size: 1rem;
  margin-top: 20px;
  font-style: italic;
}
